/node_modules
/config
/build
/report

npm-debug.log*
debug.log

package-lock.json

tests/
cypress/videos
cypress/screenshots
cypress/**/__diff_output__
cypress/downloads

.vscode/

.DS_Store

.bash_profile